[submodule "jquery.flowchart"]
	path = jquery.flowchart
	url = https://github.com/sdrdis/jquery.flowchart.git
[submodule "jquery-mousewheel"]
	path = jquery-mousewheel
	url = https://github.com/jquery/jquery-mousewheel.git
[submodule "jquery.panzoom"]
	path = jquery.panzoom
	url = https://github.com/timmywil/jquery.panzoom.git
