.flowchart-example-container {
  height: 200px;
  border: 1px solid #BBB;
  margin-bottom: 10px;
}

.flowchart-operator-connector-arrow {
  top: 4px;
}

.flowchart-operator-connector-small-arrow {
  top: 9px;
}

.flowchart-example pre {
  display: none;
}